body{
    background-color: cornflowerblue;
}

#zonaDeParrafos{
    background-color: bisque;
    border-style: dashed;
    border-width: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}